*{
    padding: 0;
    margin: 0;
}
:root{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        --penta-purple: #5215ae;
        --penta-blue: #2e63ef;
    }

a{
    text-decoration: none;
}
.wrapper{
    width: 100%;
    height: 155vh;
    display: flex;
    flex-direction: column;
    background-image: url(/assets/bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color: white;
}
nav .logo{
    height: 80%;
}
nav .menu{
    display: none;
}
ul{
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    /* width: 30%; */
}
nav li{
    list-style: none;
    text-decoration: none;
    margin: 15px 20px;
    font-family: default;
    font-size: 1.55rem;
    opacity: .8;
    cursor: pointer;
}
nav li:hover{
    opacity: 1;
    border-bottom: var(--penta-purple) 2px solid;
}
nav li a{
    text-decoration: none;
    color: black;
}
ul #active{
    opacity: .5;
}
#click{
    position: relative;
    top: -10%;
    color: white;
    padding: 10px 20px;
    background-color: var(--penta-purple);
    text-decoration: none;
    border: none;
}
#click a{
    color: white;
}
.cover{
    width: 85%;
    height: 40%;
    max-height: 40%;
    align-self: center;
    justify-self: center;
    background: white;
    box-shadow: grey 10px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}
.cover .gear{
  height: 30%;
  animation: spin 3s linear infinite  forwards;
}
.service-cover{
    height: 100%;
}
.services-list{
    position: relative;
    top: -8.5%;
    width: 80%;
    height: 50rem;
    align-self: center;
    justify-self: center;
    background:  transparent;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.service{
    height: 50%;
    width: 25%;
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2%;
}
.service img{
    width: 25%;
    border-radius: 50%;
    margin-top: 5px;
}
#tutorial-img{
    margin-top: 10px;
    width: 20%;
    border-radius: 0;
}
.service a{
    position: relative;
    margin-top: 5%;
    text-decoration: none;
    font-size: 1.25rem;
    animation: float .75s ease-in-out infinite;
    }
h1{
    color: purple;
}
.service p{
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: sans-serif;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: var(--penta-purple);
    color: white;
}
.links{
    display: flex;
    cursor: pointer;
}
.links li{
    list-style: none;
    opacity: 0.7;
    margin: 15px 20px;
    font-family: default;
    font-size: 1.55rem;
}
.links li a{
    color: white;
}
.links li:hover{
    opacity: 1;
}



@media screen and (min-width: 768px) and (max-width: 1024px) {

   
   
    p{
        font-size: 1rem;
    }
    .cover{
        width: 85%;
        height: 40%;
        max-height: 40%;
        align-self: center;
        justify-self: center;
        background: white;
        box-shadow: grey 5px 5px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
    }
    .cover .gear{
      height: 30px;
      animation: spin 3s linear infinite  forwards;
    }
    .cover #gear2{
        display: none;
    }
    .service-cover{
        height: 250px;
    }
    
}
/* -----------------Mobile Screen---------------------- */
@media screen and (max-width: 768px) {

    .wrapper{
        width: 100%;
        height: 375vh;
        display: flex;
        flex-direction: column;
        background-image: none;
        overflow: hidden;
    }

     nav{
        width: 150vw;
        display: flex;
        overflow: visible;
        justify-content: space-between;
     }   
    nav ul {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        
    }
     nav ul{
        position: relative;
        /* top: -2vh; */
        left: 100vw; 
        /* right: 50px; */
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: flex-start;
        z-index: 1;
     }
     #click, #navbar li{
        margin-top: .5rem;
     }
     nav .menu{
        position: relative;
        top: 10px;
        left: 70px;
        display: block;
        width: 2rem;
        border: none;
        height: 50%;
     }
     nav .menu img{
        width: 100%;
     }
     nav .logo{
        height: 50%;
     }
    .cover{
        width: 85%;
        height: 40vh;
        max-height: 40%;
        align-self: center;
        justify-self: center;
        background: white;
        box-shadow: grey 5px 5px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
    }
    .cover .gear{
      height: 30px;
      animation: spin 3s linear infinite  forwards;
    }
    .cover #gear2{
        display: none;
    }
    .service-cover{
        height: 250px;
    }
    .services-list{
        position: relative;
        top: -2%;
        width: 80%;
        height: 50rem;
        align-self: center;
        justify-self: center;
        background:  transparent;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .service{
        height: 50%;
        width: 90%;
        background-color: white;
        border-radius: 10px;
        border-width: 1px;
        border-style: solid;
        border-color: purple;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 2%;
    }
    .service img{
        width: 20%;
        border-radius: 50%;
        margin-top: 5px;
    }
    .service a{
        position: relative;
        margin-top: 5%;
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: bold;
        animation: float .75s ease-in-out infinite;
        }
    .service p{
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 10px;
        font-size: 1.5rem;
        font-family: sans-serif;
    }
    footer{
        position: relative;
        top: 205vh;
        display: flex;
        flex-direction: column;
        height: 17.5vh;
    }
    footer .links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .links li{
        font-size: 1.25rem;
        margin: 0;
    }
    
    
}




@keyframes spin {
    from {
        transform: rotate(0);
        rotate: 0deg;
    }
    to{
        transform: rotate(360);
        rotate: 360deg;
    }
    
}
@keyframes float {
    from {
        left: 0;
    }
    to{
        left: 5px;
    }
    
}